accelerate
black
coverage
datasets
debugpy
deepspeed
flake8
huggingface-hub
isort
k-means-constrained==0.7.3
nltk
ninja
omegaconf
packaging
peft
pre-commit
pytest
safetensors
scikit-learn
sentencepiece
tensorboard
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
trl
wandb
xformers
pebble
matplotlib
python-dotenv
sentence-transformers==2.2.2
Pillow
numpy==1.25.0
opencv-python
pynvml
PyYaml
pandas<2.1.0