accelerate==1.8.1
apex==0.9.10dev
bitsandbytes==0.46.1
datasets==4.0.0
debugpy==1.8.14
fairscale==0.4.13
huggingface_hub==0.33.4
joblib==1.5.1
k_means_constrained==0.7.6
loguru==0.7.3
matplotlib==3.10.3
numpy==2.3.1
ortools==9.14.6206
packaging==25.0
pandas==2.3.1
pebble==5.1.1
peft==0.16.0
Pillow==11.3.0
python-dotenv==1.1.1
regex==2024.11.6
Requests==2.32.4
scikit_learn==1.7.0
scipy==1.16.0
sentence_transformers==5.0.0
torch==2.7.1
torch_xla==2.7.0
tqdm==4.67.1
transformers==4.53.2
xformers==0.0.31.post1
